development/.ipynb_checkpoints/
__pycache__/
jobs/*.txt
spectra/synth_spectra/*.npz
spectra/obs_spectra/*.npz
development/*.txt
development/MCMC_plots/*
development/emcee/*.h5
development/emcee/*.txt
development/emcee/.ipynb_checkpoints/*